<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228720631777-l2lvh9e42gebkbg1fbr9a559si1odl7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228720631777-l2lvh9e42gebkbg1fbr9a559si1odl7o</string>
	<key>API_KEY</key>
	<string>AIzaSyCO6KNPyHCQOJ1hRh6gedwEN0DKub_RHgc</string>
	<key>GCM_SENDER_ID</key>
	<string>228720631777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.fmob.kaloo</string>
	<key>PROJECT_ID</key>
	<string>kaloo-development</string>
	<key>STORAGE_BUCKET</key>
	<string>kaloo-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228720631777:ios:f0fcbb953b89de89f7bca0</string>
	<key>DATABASE_URL</key>
	<string>https://kaloo-development.firebaseio.com</string>
</dict>
</plist>