<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998750293854-ir8vngvmmciu9r8nej78rvb6kf9cfaog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998750293854-ir8vngvmmciu9r8nej78rvb6kf9cfaog</string>
	<key>API_KEY</key>
	<string>AIzaSyAcKNOFNBPE3MEdjPEwycj5bljiMiJzxps</string>
	<key>GCM_SENDER_ID</key>
	<string>998750293854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.fmob.kaloo</string>
	<key>PROJECT_ID</key>
	<string>kaloo-production</string>
	<key>STORAGE_BUCKET</key>
	<string>kaloo-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998750293854:ios:6c07de5973050074ab49cf</string>
	<key>DATABASE_URL</key>
	<string>https://kaloo-production.firebaseio.com</string>
</dict>
</plist>